.editor-content {
  border: none !important;
}
.tiptap {
  padding: 2.5rem 0 !important;
  height: calc(100vh - 2.5rem);
  overflow-y: scroll;
}
.tiptap > * {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0.1rem 1.5rem;
}
.tiptap > h1 {
  padding-bottom: 1rem;
}
.tiptap > p {
  padding-bottom: 0.1rem;
}
.tiptap > pre {
  max-width: 72rem;
  margin: 10px auto;
  padding: 10px 14px;
  transform: translateX(10px);
}
.tiptap::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tiptap::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.tiptap::-webkit-scrollbar-thumb {
  background: var(--mantine-color-dark-1);
  border-radius: 10px;
}
@media (prefers-color-scheme: dark) {
  .tiptap::-webkit-scrollbar-thumb {
    background: var(--mantine-color-dark-5);
  }
}

.code-block {
  position: relative;
}
.code-lang-select {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 7rem;
}

[data-type="taskList"] li {
  display: flex !important;
  transform: translateX(-1.3rem);
  label {
    margin-right: 5px;
    transform: translateY(1px);
  }
}
