/*SECTION General text and background color */

/* Windows/Linux title bar color */
.windows {
  background-color: var(--colorNeutralBackground3);
}

.milkdown {
  background-color: var(--colorNeutralBackground3) !important;
  color: var(--colorNeutralForeground3) !important;
}

/* SECTION Markdown Elements */

/*SUBSECTION Tables */
/* light */
table {
  background-color: #edeff3 !important;
  color: var(--colorNeutralForeground1) !important;
}

table th {
  background-color: rgb(179, 187, 201) !important;
}

table,
th,
td {
  border-color: #a3a7af !important;
}
/* dark */
@media (prefers-color-scheme: dark) {
  table {
    background-color: #2a2e36 !important;
    color: #d6d6d6 !important;
  }

  table th {
    background-color: #4f5766 !important;
  }

  table,
  th,
  td {
    border-color: #7d8ba5 !important;
  }
}

/* SUBSECTION Code Blocks */
.code-fence,
.code-fence > pre {
  background-color: #2a2e36 !important;
}

.code-fence > pre div:not(.token) {
  color: #d6d6d6 !important;
}

/* SUBSECTION Diagrams */

.diagram svg {
  background-color: #f5f5f5 !important;
  padding: 5px 10px;
}
.milkdown-2u747w {
  background-color: #edeff3 !important;
  color: var(--colorNeutralForeground1) !important;
}
@media (prefers-color-scheme: dark) {
  .milkdown-2u747w {
    background-color: #2a2e36 !important;
    color: #d6d6d6 !important;
  }
}

/* SECTION Peripheral UI Elements */

/*SUBSECTION Block handle and on-click menu */
.block-menu {
  background-color: var(--colorNeutralBackground3) !important;
  border-color: var(--colorNeutralStroke2) !important;
  border-width: 2px !important;
}
