.editor-content {
  border: none !important;
}
.tiptap {
  padding: 2.5rem 0 !important;
  height: calc(100vh - 2.5rem);
  overflow-y: scroll;
}
.tiptap * {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.tiptap::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tiptap::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.tiptap::-webkit-scrollbar-thumb {
  background: var(--mantine-color-dark-1);
  border-radius: 10px;
}
